<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>테스트 주문페이지</title>
    <script src="https://js.tosspayments.com/v1"></script>
    <script>
        // Toss객체 초기화
        var clientKey = 'test_ck_k6bJXmgo28e1oK2moYW8LAnGKWx4';
        var tossPayments = TossPayments(clientKey);

        //결제창 호출
        tossPayments.requestPayment('계좌이체', {
            amount: 15000,
            orderId: parseInt(Math.random()*1000000),
            orderName: '토스 티셔츠 외 2건',
            customerName: '박토스',
            successUrl: window.location.origin + '/success',
            failUrl: window.location.origin + '/fail',
        });
    </script>

</head>
<body>
결제창이 떳나요?
</body>
</html>